@use "../../styles/utils.scss" as *;

.myOrdersList {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: space-between;

  border-bottom: 1px solid #bcbcbc;
  padding-bottom: 3rem;

  @include mobile {
    flex-direction: column;
  }
}

.orderItem {
  display: flex;
  gap: 1rem;
  .image {
    width: 10rem;
    height: 10rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  & h2 {
    font-size: 1.6rem;
    margin: 0;
  }

  & span {
    font-size: 1.4rem;
  }
}

.price {
  display: flex;
  gap: 1rem;
  & p {
    font-size: 1.4rem;
  }

  & span {
    font-size: 1.3rem;
    color: #bcbcbc;
  }
}

.actions {
  & button {
    padding: 0.5rem 3.5rem;
    border: none;
    background-color: #333333;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: #212121;
    }

    @include mobile {
      padding: 1rem;
      width: 100%;
    }
  }
}
