@import "../styles/utils.scss";

.productDetailPage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    align-items: flex-start;
    padding: 0 1rem;
  }
}

.productDetailContainer {
  margin: 7rem 0rem;
  padding: 0rem 5rem;
  gap: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1440px;

  @include bigDesktop {
    width: 1280px;
  }

  @include tablet {
    width: 100%;
    padding: 0rem 3rem;
    gap: 3rem;
  }

  @include miniTablet {
    grid-template-columns: 1fr;
    padding: 0rem 2rem;
    margin: 5rem 0rem;
    gap: 2rem;
  }

  @include mobile {
    grid-template-columns: 1fr;
    padding: 0rem 1rem;
    margin: 3rem 0rem;
    gap: 1.5rem;
  }
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}