@use "../styles/utils.scss" as *;

.newsletterSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
}

.text {
  font-size: 2rem;
}

.actions {
  width: 50rem;
  @include tablet {
    width: 100%;
  }

  & input {
    border-radius: 50rem;
  }

  & button {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 50rem;
    background-color: black;
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid white;
    transition: background-color 0.3s;

    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black
    }
  }
}
