@use "../../styles/utils.scss" as *;

.footer {
  height: 10rem;
  background-color: black;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  & p {
    font-size: 2.7rem;
    font-weight: bold;

    @include tablet {
      font-size: 2rem;
    }
  }

  & span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.2rem;
  }
}
