@use "../../../styles/utils.scss" as *;

.tableContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem auto;
  max-width: 100%;
  overflow-x: auto;

  @include mobile {
    padding: 0.5rem;
  }

  @include tablet {
    padding: 0.8rem;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;

  @include mobile {
    font-size: 1.2rem;
  }

  @include tablet {
    font-size: 1.4rem;
  }
}

.table th {
  text-align: left;
  padding: 0.5rem 2.5rem;
  font-size: 1.6rem;
  color: #bcbcbc !important;
  border-bottom: 1px solid #ddd;
  font-weight: 700;

  @include mobile {
    font-size: 1.4rem;
    padding: 0.5rem 1.5rem;
  }

  @include tablet {
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
  }
}

.table td {
  padding: 2.5rem;
  text-align: left;
  font-size: 1.6rem;
  border-bottom: 1px solid #ddd;
  font-weight: bold;

  @include mobile {
    font-size: 1.4rem;
    padding: 15px;
  }

  @include tablet {
    font-size: 1.5rem;
    padding: 2rem;
  }
}

.icon {
  font-size: 1.6rem;
  cursor: pointer;
  text-align: center;
  margin-left: 2rem;
  @include mobile {
    font-size: 1.4rem;
  }

  @include tablet {
    font-size: 1.5rem;
  }
}

.order {
  & span {
    background-color: #d9d9d9;
    color: white;

    padding: 0.5rem 2rem;
    border-radius: 3rem;
  }
}

.green {
  & span {
    background-color: #4caf50;
  }
}

.red {
  & span {
    background-color: #f44336;
  }
}

.modalContent {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}

.modalHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  gap: 1.5rem;

  & h1 {
    font-size: 2.4rem;
    color: #333333;
  }

  & p {
    font-size: 1.6rem;
    color: #c2c2c2;
  }
}

.modalSubheader {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0rem;
}

.modalInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  & p {
    font-size: 1.6rem;
    color: #c2c2c2;
  }

  & span {
    font-weight: 600;
    color: #333333;
  }
}

.modalProducts {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 60rem;
  padding: 10rem 0rem;

  & h3 {
    font-size: 1.8rem;
    color: #333333;
  }
}

.modalFooter {
  align-self: flex-end;
  justify-self: flex-end;
  display: flex;
  gap: 1rem;
  margin-top: 5rem;
  & button {
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem 4rem;
  }

  .approveBtn {
    background-color: #004e1a;
    color: white;
    border: none;
    &:hover {
      background-color: #003d15;
    }
  }

  .rejectBtn {
    background-color: #b30000;
    color: white;
    border: none;
    &:hover {
      background-color: #8c0000;
    }
  }
}
