@use "../.../../../../styles/utils.scss" as *;

.adminProducts {
  background-color: white;
  border-radius: 3rem;
  padding: 4rem;
  display: grid;
  gap: 3rem;
  box-shadow: 0 1rem 2rem rgba(black, 0.3);
}

.adminWrapper {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr;

}

.adminWrapperHalf {
  display: grid;
  gap: 3rem;
  grid-template-columns: 3fr 1fr;
  align-items: start;
  justify-content: start;

  @include desktop {
    grid-template-columns: 1fr;
  }
}
